# list :

<b>properties:<b>

* list is one of the predifined class and treated as list data type
* The purpose of list data type is that "To Store Multiple Values of Same Type or Different Type or Both the types in single       object with Unique and Duplicate.
* The Data in List object Stored / Organized within Square Brackets [ ] and They must be separated by Comma.
* An object of list maintains Insertion Order.
* On the object of list, we can perform Both Indexing and Slicing Operations
* An an object of List belongs to Mutable bcoz Updation done at Same Address.
* In Python Programming, we have Two Types of List objects. They are
		a) Empty List
		b) Non-Empty List

<b>a) Empty List<b>

* An Empty List is one, which does not contain any Elements and whose Length is 0 
* Syntax:         varname=[ ]
				(OR)
			varname=list()

<b>b) Non-Empty List<b>

* A Non-Empty List is one, which contains  Elements and whose Length is >0 
* Syntax:         varname=[Val1,Val2....Val-n]
				(OR)
			varname=list(object)

In [4]:
l1=[10,"python",10.2,True]
print(l1,type(l1))

[10, 'python', 10.2, True] <class 'list'>

In [5]:
l1[0]

10

In [6]:
l1[-1]

True

In [7]:
l1[::-1]

[True, 10.2, 'python', 10]

In [8]:
l1[1:5]

['python', 10.2, True]

In [10]:
l1[0]=100 # Updating Single value of List with Indexing
l1

[100, 'python', 10.2, True]

In [11]:
l1[3:5]=["Dsc",1.2]  # Updating Multiple value of List with Slicing
print(l1,type(l1),id(l1))

[100, 'python', 10.2, 'Dsc', 1.2] <class 'list'> 2245250353344

In [12]:
l1[::]=[1000,"VINAY","IMPO",0.0,"NOColl"]
print(l1,type(l1),id(l1))

[1000, 'VINAY', 'IMPO', 0.0, 'NOColl'] <class 'list'> 2245250353344

In [13]:
l1

[1000, 'VINAY', 'IMPO', 0.0, 'NOColl']

In [14]:
len(l1)

5

In [15]:
l2=[]
print(l2,type(l2))

[] <class 'list'>

In [16]:
l3=list()
print(l3,type(l3))

[] <class 'list'>

In [17]:
s="python"
print(s)

python

In [18]:
l1=list(s)
print(l1,type(l1))

['p', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [20]:
l2=list([s])
print(l2,type(l2))

['python'] <class 'list'>

* We know that on the object of List , we can perform Both Indexing and Slicing Operations.
* Along with Indexing and Slicing Operations, we can also Perform Various Operations by using Pre-defined Functions present in list object. They are

**1. append()**
* syntax:listobj.append(value)
* This function is used for appending (adding at end) single values to list.

In [28]:
a1=[10,'pavan']
print(a1,type(a1))

[10, 'pavan'] <class 'list'>

In [29]:
a1.append(20)
a1

[10, 'pavan', 20]

In [30]:
a=[]
print(a,type(a))

[] <class 'list'>

In [31]:
a.append(10,30)
a

TypeError: list.append() takes exactly one argument (2 given)

**2.insert()**

Syntax:-   listobj.insert(index,Value)
* Here Index Represents Either +ve or -ve
* Here Value can be One or More(list)
* This Function is used for adding The value to the list at Specified Valid Index.
* If the Index Value is not existing at +Ve Side then the value Inserted at END/Last
* If the Index Value is not existing at -Ve Side then the value Inserted at BEGIN / First

In [33]:
l=[10,'python',True,5+6j]
print(l,type(l),id(l))

[10, 'python', True, (5+6j)] <class 'list'> 2245251508992

In [34]:
l.insert(1,'innomatics')
print(l,type(l),id(l))

[10, 'innomatics', 'python', True, (5+6j)] <class 'list'> 2245251508992

In [36]:
l.insert(3,2)
print(l,type(l),id(l))

[10, 'innomatics', 'python', 2, 2, True, (5+6j)] <class 'list'> 2245251508992

In [37]:
l.insert(15,45.3)
print(l,type(l),id(l))

[10, 'innomatics', 'python', 2, 2, True, (5+6j), 45.3] <class 'list'> 2245251508992

In [39]:
l.insert(-15,'nl')
print(l,type(l),id(l))

['nl', 'nl', 10, 'innomatics', 'python', 2, 2, True, (5+6j), 45.3] <class 'list'> 2245251508992

**3.clear()**

Syntax:    listobj.clear()
* This Function is used for Removing all the Values from list object
* When call this Function upon Empty List object then we never get any Result / None

In [41]:
l1=[15,'pavan',True,5.32]
print(l1,type(l1),id(l1))

[15, 'pavan', True, 5.32] <class 'list'> 2245250746816

In [42]:
l1.clear()
print(l1,type(l1),id(l1))

[] <class 'list'> 2245250746816

In [45]:
l2=[]
print(l2,type(l2),id(l2))

[] <class 'list'> 2245251506944

In [47]:
print(l2.clear())

None

In [48]:
print([].clear())

None

**4.remove()**

Syntax:-  listobj.remove(Value)
* This Function  is used for Removing First Occurence of Specified Element.
* If the Specified Elements does not exist then we get ValueError

In [49]:
l1=[10,'pavan',5.23,True]
print(l1,type(l1))

[10, 'pavan', 5.23, True] <class 'list'>

In [50]:
l1.remove(True)
print(l1,type(l1))

[10, 'pavan', 5.23] <class 'list'>

In [51]:
l1.remove(20)
print(l1,type(l1))

ValueError: list.remove(x): x not in list

In [52]:
l2=[10,20,30,40,10,50,80,10,20,30]
print(l2,type(l2))

[10, 20, 30, 40, 10, 50, 80, 10, 20, 30] <class 'list'>

In [54]:
l2.remove(10)
print(l2,type(l2))

[20, 30, 40, 50, 80, 10, 20, 30] <class 'list'>

**5.pop(index)**

Syntax:  listobj.pop(index)
* This Function is used for Removing the Elemements of List based on Index
* If the Index is Invalid then we get IndexError

In [55]:
l2=[10,20,30,40,80,20,40]
print(l2,type(l2),id(l2))

[10, 20, 30, 40, 80, 20, 40] <class 'list'> 2245249646528

In [56]:
l2.pop(2)
print(l2,type(l2),id(l2))

[10, 20, 40, 80, 20, 40] <class 'list'> 2245249646528

In [57]:
l2.pop(-1)
print(l2,type(l2),id(l2))

[10, 20, 40, 80, 20] <class 'list'> 2245249646528

In [58]:
print([].pop(2))

IndexError: pop from empty list

In [59]:
l2.pop(60)
print(l2,type(l2),id(l2))

IndexError: pop index out of range

**6.pop()**

Syntax:    listobj.pop()
* This Function is used for Removing Last Element of non-list object
* If we call pop() upon empty list object then we get IndexError.

In [60]:
l1=[10,'pavan',2.56,]
l1.pop()

2.56

In [61]:
l1.pop()

'pavan'

In [62]:
l1.pop()

10

In [63]:
l1.pop()

IndexError: pop from empty list

**7.copy()**

* This Function is used copying the content of one list object to another list object (Shallow Copy).
* Syntax:      listobj2=listobj1.copy()

In [64]:
l1=[10,'pavan']
print(l1,id(l1))

[10, 'pavan'] 2245249761792

In [65]:
l2=l1.copy()
print(l2,id(l2))

[10, 'pavan'] 2245249764480

In [66]:
l1.append(5.2)
print(l1,id(l1))

[10, 'pavan', 5.2] 2245249761792

In [67]:
print(l2,id(l2))

[10, 'pavan'] 2245249764480

In [68]:
l2.insert(2,'innomatics')
print(l2,id(l2))

[10, 'pavan', 'innomatics'] 2245249764480

In [69]:
a=[10,20,30]
print(a,type(a),id(a))

[10, 20, 30] <class 'list'> 2245249765184

In [73]:
b=a

In [74]:
print(b,type(b),id(b))

[10, 20, 30] <class 'list'> 2245249765184

In [75]:
a.append('python')
print(a,type(a),id(a))

[10, 20, 30, 'python'] <class 'list'> 2245249765184

In [76]:
print(b,type(b),id(b))

[10, 20, 30, 'python'] <class 'list'> 2245249765184

In [77]:
b.insert(2,'nl')
print(b,type(b),id(b))

[10, 20, 'nl', 30, 'python'] <class 'list'> 2245249765184

In [78]:
print(a,type(a),id(a))

[10, 20, 'nl', 30, 'python'] <class 'list'> 2245249765184

**8.index()**

Syntax:   listobj.index(Value)
* This Function is used  Finding Index of First occurence of Specified Element from non-empty list object.
* If the Specified Element does not exist then we get ValueError
* If we call this function on empty-list object then we get ValueError

In [80]:
l=[10,20,10,'pavan',50,10,30]
print(l,type(l),id(1))

[10, 20, 10, 'pavan', 50, 10, 30] <class 'list'> 2245169277232

In [81]:
l.index(10)

0

In [83]:
l.index(30)

6

In [84]:
l.index(2)

ValueError: 2 is not in list

In [87]:
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 10
3 pavan
4 50
5 10
6 30

**9.count()**

* This Function is used finding Number of Occurences of a specified Element.
*Syntax:  listobj.count(value)

In [89]:
l=[10,20,50,30,40,10,50,80,60,70,30,20,10]
print(l,type(l),id(l))

[10, 20, 50, 30, 40, 10, 50, 80, 60, 70, 30, 20, 10] <class 'list'> 2245251506688

In [90]:
l.count(10)

3

In [91]:
l.count(30)

2

In [92]:
l.count(100)

0

In [94]:
l.count('hyd')

0

**10.reverse()**

* This Function is used for reversing (Front to back and Back to Front) the elements of List object.
* Syntax:   lstobj.reverse()

In [103]:
l1=[10,'data',True,5+5j,'pavan',1.0]
print(l1,type(l1),id(l1))

[10, 'data', True, (5+5j), 'pavan', 1.0] <class 'list'> 2245251509504

In [104]:
l2=l1.reverse()
print(l2,type(l2),id(l2))

None <class 'NoneType'> 140720905501912

In [105]:

print(l1,type(l1),id(l1))

[1.0, 'pavan', (5+5j), True, 'data', 10] <class 'list'> 2245251509504

In [98]:
l=[10,'data',True,5+5j,'pavan',1.0]
print(l,type(l),id(l))

[10, 'data', True, (5+5j), 'pavan', 1.0] <class 'list'> 2245251510016

In [100]:
l3=l[::-1]
print(l3,type(l3),id(l3))

[1.0, 'pavan', (5+5j), True, 'data', 10] <class 'list'> 2245249774784

**11.sort()**

* Syntax1:   listobj.sort()----->Used to Sort the data of list in Ascending Order
* Syntax2:   listobj.sort(reverse=False)----->Used to Sort the data of list in Ascending Order
* Syntax3:   listobj.sort(reverse=True)----------->Used to Sort the data of list in Decending Order

In [108]:
l1=[-2,10,20,50,-3,100,-100]
print(l1,type(l1),id(l1))

[-2, 10, 20, 50, -3, 100, -100] <class 'list'> 2245249797760

In [110]:
l1.sort()
print(l1,type(l1),id(l1))

[-100, -3, -2, 10, 20, 50, 100] <class 'list'> 2245249797760

In [111]:
l1.sort(reverse=False)
print(l1,type(l1),id(l1))

[-100, -3, -2, 10, 20, 50, 100] <class 'list'> 2245249797760

In [112]:
l1.sort(reverse=True)
print(l1,type(l1),id(l1))

[100, 50, 20, 10, -2, -3, -100] <class 'list'> 2245249797760

In [114]:
a=['pavan','san','innomatics','hyd','data','an']
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'data', 'an'] <class 'list'> 2245249797632

In [115]:
a.sort()
print(a,type(a),id(a))

['an', 'data', 'hyd', 'innomatics', 'pavan', 'san'] <class 'list'> 2245249797632

In [116]:
a.sort(reverse=True)
print(a,type(a),id(a))

['san', 'pavan', 'innomatics', 'hyd', 'data', 'an'] <class 'list'> 2245249797632

In [117]:
a

['san', 'pavan', 'innomatics', 'hyd', 'data', 'an']

In [118]:
a=['pavan','san','innomatics','hyd','data','an','ASR']
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'data', 'an', 'ASR'] <class 'list'> 2245251594432

In [119]:
a.sort()
print(a,type(a),id(a))

['ASR', 'an', 'data', 'hyd', 'innomatics', 'pavan', 'san'] <class 'list'> 2245251594432

In [122]:
a=['pavan','san','innomatics','hyd','d.sc','an','ASR']
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'd.sc', 'an', 'ASR'] <class 'list'> 2245250747072

In [123]:
a.sort()
print(a,type(a),id(a))

['ASR', 'an', 'd.sc', 'hyd', 'innomatics', 'pavan', 'san'] <class 'list'> 2245250747072

In [124]:
a=['pavan','san','innomatics','hyd','d.sc','an','ASR',10]
print(a,type(a),id(a))

['pavan', 'san', 'innomatics', 'hyd', 'd.sc', 'an', 'ASR', 10] <class 'list'> 2245249781888

In [125]:
a.sort()
print(a,type(a),id(a))

TypeError: '<' not supported between instances of 'int' and 'str'

**12.extend()**

Syntax:    listobj1.extend(listobj2)
* This Function is used for adding the content of listobj2 to listobj1
* This Function can add only one list object content at a time to another list object but not multiple list objects.
* To extend multiple list objects at a time to list object, we use + operator
* Syntax: listobj1=listobj1+listobj2+....+listobj-n

In [133]:
a,b=[10,20,30],['pavan','data science']
print(a,b)

[10, 20, 30] ['pavan', 'data science']

In [134]:
a,id(a)

([10, 20, 30], 2245251597056)

In [135]:
b,id(b)

(['pavan', 'data science'], 2245249674432)

In [136]:
a.extend(b)
print(a,id(a))

[10, 20, 30, 'pavan', 'data science'] 2245251597056

In [138]:
print(b,id(b))

['pavan', 'data science'] 2245249674432

In [139]:
c=['python','java']
c

['python', 'java']

In [140]:
a.extend(b,c)
print(a)

TypeError: list.extend() takes exactly one argument (2 given)

In [141]:
d=a+b+c
print(d,type(d),id(d))

[10, 20, 30, 'pavan', 'data science', 'pavan', 'data science', 'python', 'java'] <class 'list'> 2245251617984

# INNER OR NESTED LIST

* The Process of Defining one list inside of another list is called Inner or Nested List
* Syntax:-  listobj=[ Val1, Val2....[Val11,Val12...Val1n], [Val21,Val22..Val2n...], Val-n ]


* Here Val1,Val2...Val-n are called Values of Outer List
* Here Val11,Val12...Val-1n are called Values of one Inner List
* Here Val21,Val22...Val-2n are called Values of another Inner List
* In inner list we can perform Both Indexing and Slicing Operations
* On Inner List, we can apply all pre-defined function of list.

In [164]:
s=[10,20,['list','inner'],[50,60],'if']
s

[10, 20, ['list', 'inner'], [50, 60], 'if']

In [165]:
s[0]

10

In [166]:
s[1]

20

In [167]:
s[2]

['list', 'inner']

In [168]:
s[3]

[50, 60]

In [169]:
s[4]

'if'

In [170]:
s[2].append(100)
s

[10, 20, ['list', 'inner', 100], [50, 60], 'if']

In [171]:
s[3].insert(2,'python')
s

[10, 20, ['list', 'inner', 100], [50, 60, 'python'], 'if']

In [172]:
s[2][:1]
s

[10, 20, ['list', 'inner', 100], [50, 60, 'python'], 'if']

In [173]:
s[-2][::-1]
s

[10, 20, ['list', 'inner', 100], [50, 60, 'python'], 'if']

In [174]:
s[2].clear()
s

[10, 20, [], [50, 60, 'python'], 'if']

In [175]:
s[2].append(10)
s

[10, 20, [10], [50, 60, 'python'], 'if']

In [176]:
s[2].append(20)
s

[10, 20, [10, 20], [50, 60, 'python'], 'if']

In [178]:
s1=[10, 20, [55, 25, 100,45,36,86], [50, 60, 69], 'if']
s1

[10, 20, [55, 25, 100, 45, 36, 86], [50, 60, 69], 'if']

In [181]:
s1[2][::-1]
s1

[10, 20, [55, 25, 100, 45, 36, 86], [50, 60, 69], 'if']

In [182]:
s1[2]

[55, 25, 100, 45, 36, 86]

In [183]:
s1[2][3:6]

[45, 36, 86]

In [184]:
s1[3][::-1]

[69, 60, 50]

# tuple():

### properties:

* 'tuple' is one of the pre-defined class and treated as List data Type.
* The purpose of tuple data type is that "To  store Multiple Values either of Same type or Different  Types or Both Types with Unique and Duplicates in single object (Constant Values)".
* The elements of tuple must be stored or organized within braces ( ) and Elements separated by comma.
* An object of tuple maintains Insertion Order 
* An object of tuple belongs to Immutable bcoz tuple' object does not support item assignment.
* On the object of tuple, we can perform both Indexing and Slicing Operations.
* In Python Programming, we have Two Types of tuple objects. They are
			1. empty tuple
			2. non-empty tuple

**1. Empty tuple:**

* An Empty tuple is one, which does not contains any elements and whose length is 0
* Syntax:  tplobj=( )
			OR
		   tplobj=tuple()

**2. Non-Empty tuple:**

=>An Non-Empty tuple is one, which  contains  elements and whose length > 0<br>
**Examples:**

			tplobj=( Val1,Val2,......val-n )
					(OR)
			tplobj=tuple(object)
					(OR)
			tplobj=val1,val2....val-n

**NOTE: It is always recommended to Choose tuple data type for representing OR Storing Constant Values.**

In [1]:
t1=(10,55,20,30,48,60,25)
print(t1,type(t1),id(t1))

(10, 55, 20, 30, 48, 60, 25) <class 'tuple'> 1640201469472

In [2]:
t2=(10,'pavan',True,5+5j)
print(t2,type(t2),id(t2))

(10, 'pavan', True, (5+5j)) <class 'tuple'> 1640201912704

In [3]:
t3=10,'info',2.5,True
print(t3,type(t3),id(t3))

(10, 'info', 2.5, True) <class 'tuple'> 1640201912864

In [4]:
t4=()
print(t4,type(t4))

() <class 'tuple'>

In [5]:
t=tuple()
print(t,type(t))

() <class 'tuple'>

In [7]:
t2

(10, 'pavan', True, (5+5j))

In [8]:
t2[0]

10

In [9]:
t2[-1]

(5+5j)

In [10]:
t2[2]=100

TypeError: 'tuple' object does not support item assignment

* We know that on the object of tuple we can perform Both Indexing and Slicing Operations.
* Along with  these operations, we can also perform other operations by using the following 
    pre-defined  Functions.

		1)index()
		2)count()

In [1]:
t1=(10,'rs',True,6+6j)
print(t1,type(t1))

(10, 'rs', True, (6+6j)) <class 'tuple'>

In [2]:
t1.index(10)

0

In [3]:
t1.index(True)

2

In [4]:
t=(10,20,40,20,30,50,10,20,30)
t

(10, 20, 40, 20, 30, 50, 10, 20, 30)

In [5]:
t.count(10)

2

In [6]:
t.count(30)

2

# INNER AND NESTED TUPLE

* The Process of Defining One tuple in another tuple is called Inner or Nested tuple
* Syntax:- tplobj1=( Val1,Val2....(Val11,Val12....Val1n).....(Val21,Val22...Val2n)..........Val-n )
* Here  (Val11,Val12....Val1n) is called One Inner OR Nested tuple
	      (Val21,Val22...Val2n)  is called another Inner OR Nested tuple
* ( Val1,Val2....(Val11,Val12....Val1n).....(Val21,Val22...Val2n)....Val-n ) is called Outer tuple
* All the pre-defined Functions of tuple can be applied on Inner or Nested tuple.
* On Inner or Nested tuple we can perform Index and Slicing Operations.

In [7]:
sf=(10,"RS",(17,18,16),(78,66,79),"OUCET")
print(sf,type(sf))

(10, 'RS', (17, 18, 16), (78, 66, 79), 'OUCET') <class 'tuple'>

In [8]:
sf[0]

10

In [9]:
sf[2]

(17, 18, 16)

In [10]:
sf[0:3]

(10, 'RS', (17, 18, 16))

In [11]:
sf=(10,"RS",[17,18,16],(78,66,79),"OUCET")
print(sf,type(sf))

(10, 'RS', [17, 18, 16], (78, 66, 79), 'OUCET') <class 'tuple'>

In [12]:
print(sf[2],type(sf[2]),type(sf))

[17, 18, 16] <class 'list'> <class 'tuple'>

In [13]:
sf[2].append(12)

In [14]:
sf

(10, 'RS', [17, 18, 16, 12], (78, 66, 79), 'OUCET')

In [15]:
print(sf[2],type(sf[2]),type(sf))

[17, 18, 16, 12] <class 'list'> <class 'tuple'>

In [16]:
print(sf[3],type(sf[3]),type(sf))

(78, 66, 79) <class 'tuple'> <class 'tuple'>

NOTE:

*  One can define One List in another List
* One can define One Tuple in another Tuple
* One can define One List in another Tuple ( tuple of lists)
* One can define One tuple in another List (list of tuples)

In [17]:
t1=(10, 'Rossum', [16, 18, 17], ('CSE', 'AI', 'DS'), 'OUCET') 
t1

(10, 'Rossum', [16, 18, 17], ('CSE', 'AI', 'DS'), 'OUCET')

In [18]:
print(t1[2],type(t1[2]))

[16, 18, 17] <class 'list'>

In [19]:
print(t1[3],type(t1[3]))

('CSE', 'AI', 'DS') <class 'tuple'>

In [20]:
t1[2].append('hy')
t1

(10, 'Rossum', [16, 18, 17, 'hy'], ('CSE', 'AI', 'DS'), 'OUCET')

In [21]:
t1[2][2]

17

In [22]:
t1[3][2]

'DS'

# set()

### properties:

* 'set' is a pre-defined class and treated as set data type.
* The purpose of set data type is that "To Store Multiple Values either of Same Type or Different type or Both the Types into single object with Unique Values (Duplicates are not allowed)".
* The Elements / Data of set Must be Organized OR Stored within Curly Braces {} and the Values must  be  separted by comma.
* An object of set never maintains Insertion Order bcoz set can display any Possibility of elements of set (Set Elements are Un-ordered).
* On the object of set , we can't perform Indexing and Slicing Operations bcoz set never maintains Insertion Order.
* An object of set belongs to Both Mutable  in the case of adding the elements and Immutable in the case of Item Assignment.
* We can create types of set objects. they  are
            1. empty set
            2. non-empty set

**1.empty set**

* An empty set is one, which does not contains elements and whose length is 0
* Syntax:     setobj=set()

**2. non-empty set**

* A non-empty set is one, which  contains elements and whose length is >0
* Syntax:     setobj={Val1,Val2.....Val-n}
					OR
		     setobj=set(object)

In [4]:
s={10,20,30,40,10,30,40}
print(s,type(s),id(s))

{40, 10, 20, 30} <class 'set'> 2252268521728

In [5]:
s1={10,'kl',True,1,'python'}
print(s1,type(s1))

{True, 10, 'kl', 'python'} <class 'set'>

In [6]:
s[0]

TypeError: 'set' object is not subscriptable

In [7]:
s1

{10, True, 'kl', 'python'}

In [8]:
s1[-1]=15
s1

TypeError: 'set' object does not support item assignment

In [9]:
s1.add(100)
s1

{10, 100, True, 'kl', 'python'}

In [10]:
s=set()
print(s,type(s))

set() <class 'set'>

In [11]:
s={}
print(s,type(s))

{} <class 'dict'>

In [12]:
l=[1,5,8,6,4,30]
l

[1, 5, 8, 6, 4, 30]

In [13]:
s=set(l)
print(s,type(s))

{1, 4, 5, 6, 8, 30} <class 'set'>

**To perform Various Operations on set object, we use the following Pre-defined Functions which are present in set object.**

## 1.clear()

* Syntax:   setobj.clear()
* This Function is used for removing all elements of set 
* When we call this function upon empty set object then we get None.

In [14]:
s1

{10, 100, True, 'kl', 'python'}

In [15]:
len(s1)

5

In [16]:
s1.clear()

In [17]:
print(s1,type(s1),id(s1))

set() <class 'set'> 2252268522400

In [18]:
print(s1.clear())

None

### 2.add()

* Syntax:     setobj.add(Value)
* This Function is used for adding the values to the set object.

In [19]:
s={10,'rs'}
print(s,type(s),id(s))

{'rs', 10} <class 'set'> 2252268523072

In [20]:
s.add('python')

In [21]:
s

{10, 'python', 'rs'}

In [22]:
s.add(65)
print(s,type(s),id(s))

{'rs', 65, 10, 'python'} <class 'set'> 2252268523072

In [23]:
s1=set()
print(s1,type(s1))

set() <class 'set'>

In [24]:
s1.add(0)
s1

{0}

In [25]:
s1.add('python')
s1

{0, 'python'}

### 3.remove()

* Syntax:    setobj.remove(Value)
* This Function is used for Removing the Specified Value from set object.
* If the Specified Value does not exist then we get KeyError

In [26]:
s2={10,"Rossum",34.56,"Python",True}
print(s2,type(s2),id(s2))

{True, 34.56, 'Rossum', 10, 'Python'} <class 'set'> 2252268523296

In [27]:
s2.remove(True)
print(s2,type(s2),id(s2))

{34.56, 'Rossum', 10, 'Python'} <class 'set'> 2252268523296

In [29]:
s2.remove("Python")
print(s2,type(s2),id(s2))

{34.56, 'Rossum', 10} <class 'set'> 2252268523296

In [30]:
print(s2,type(s2),id(s2))

{34.56, 'Rossum', 10} <class 'set'> 2252268523296

In [31]:
s=set()
print(s)

set()

In [32]:
s.remove(10)
s

KeyError: 10

### 4.discard()

* Syntax:    setobj.discard(Value)
* This Function is used for Removing the Specified Value from set object.
* **If the Specified Value does not exist then we never get KeyError**

In [33]:
s2={10,"Rossum",34.56,"Python",True}
print(s2,type(s2),id(s2))

{True, 34.56, 'Rossum', 10, 'Python'} <class 'set'> 2252268522624

In [34]:
s2.discard(10)
print(s2,type(s2),id(s2))

{True, 34.56, 'Rossum', 'Python'} <class 'set'> 2252268522624

In [35]:
s2.discard(11)
print(s2,type(s2),id(s2))

{True, 34.56, 'Rossum', 'Python'} <class 'set'> 2252268522624

In [36]:
s2.remove(11)
print(s2,type(s2),id(s2))

KeyError: 11

### 5.pop()

* Syntax:    setobject.pop()
* This Function is used for removing any Arbitary Element from Non-Empty Set.
* If we call this function on empty set object then we get KeyError

In [37]:
s2={10,50,40,30,80,70,30,22,55}
print(s2,type(s2),id(s2))

{70, 40, 10, 80, 50, 22, 55, 30} <class 'set'> 2252268523296

In [38]:
s2.pop()

70

In [39]:
s2.pop()

40

In [40]:
s2.pop()

10

In [41]:
s=set()
s.pop()

KeyError: 'pop from an empty set'

### 6.copy()

* Syntax:   setobj2=setobj1.copy()
* This Function is used for copying the content of one set object to another set object.

In [42]:
s={10,55,20,40,88,30,55}
print(s,type(s),id(s))

{20, 55, 40, 10, 88, 30} <class 'set'> 2252268522176

In [43]:
s1=s.copy()
print(s1,type(s1),id(s1))

{20, 55, 40, 10, 88, 30} <class 'set'> 2252268522624

In [44]:
s.add(100)
print(s,type(s),id(s))

{20, 100, 55, 40, 10, 88, 30} <class 'set'> 2252268522176

In [45]:
s1.add(200)
print(s1,type(s1),id(s1))

{20, 55, 40, 10, 88, 30, 200} <class 'set'> 2252268522624

### 7.isdisjoint()

* Syntax:    setobj1.isdisjoint(setobj2)
* This Function returns True provided setobj1 and setobj2 are disjoint(There is no Common Element).
* This Function returns False provided setobj1 and setobj2 are joint(There is a Common Element).

In [47]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3={11,22,33,44,55}
print(s1,s2,s3)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8} {33, 22, 55, 11, 44}

In [48]:
s1.isdisjoint(s2)

False

In [49]:
s1.isdisjoint(s3)

True

### 8. issubset()

* Syntax:   setobj1.issubset(setobj2)
* This Function Returns True Provided all Elements of setobj1 are present in setobj2 
* This Function Returns False Provid

In [51]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3={11,22,33,44,55}
s4=set(range(1,9))
print(s1,s2,s3,s4)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8} {33, 22, 55, 11, 44} {1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
s1.issubset(s2)

False

In [53]:
s1.issubset(s4)

True

### 9.issuperset()

* Syntax:     setobj1.issuperset(setobj2)
* This Function returns True provided setobj1 contains all the elements of setobj2
* This Function returns False provided setobj1 not containing all the elements of setobj2

In [54]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3={11,22,33,44,55}
s4=set(range(1,9))
print(s1,s2,s3,s4)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8} {33, 22, 55, 11, 44} {1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
s4.issuperset(s1)

True

In [59]:
s2.issuperset(s4)

False

### 10.union()

* Syntax:   setobj3=setobj1.union(setobj2)
* This Function is used for comibining all the  unique elements of setobj1 and setobj2 and result  places in setobj3

In [60]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3={11,22,33,44,55}
s4=set(range(1,9))
print(s1,s2,s3,s4)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8} {33, 22, 55, 11, 44} {1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
s=s1.union(s4)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
s5=s1.union(s2)
print(s5)

{1, 2, 3, 4, 5, 6, 7, 8}

### 11.intersection()

* Syntax:   setobj3=setobj1.intersection(setobj2)
* This Function is used for Obtaining Common elements from setobj1 and setobj2 and result placed in setobj3

In [64]:
print(s1,s2,s3,s4)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8} {33, 22, 55, 11, 44} {1, 2, 3, 4, 5, 6, 7, 8}

In [65]:
s1.intersection(s2)

{4, 5}

In [66]:
s1.intersection(s4)

{1, 2, 3, 4, 5}

### 12..difference()

* Syntax:    setobj3=setob1.difference(setobj2)
* This Function removes the common  elements of setobj1 and setobj2 and takes remaining Elements from setobj1 and Place the result in setobj3.

In [68]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3={11,22,33,44,55}
s4=set(range(1,9))
print(s1,s2,s3,s4,sep='\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{33, 22, 55, 11, 44}
{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
s1.difference(s2)

{1, 2, 3}

In [70]:
s1.difference(s4)

set()

### 13.symmetric_difference()

* Syntax:    setobj3=setob1.symmetric_difference(setobj2)
* This Function removes the common  elements of setobj1 and setobj2 and takes remaining Elements  from setobj1 and setobj2  and Place the result in setobj3.
* Mathamatically     setobj3=setob1.symmetric_difference(setobj2)--->s1.union(s2).difference(s1.intersection(s2))

In [71]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s3={11,22,33,44,55}
s4=set(range(1,9))
print(s1,s2,s3,s4,sep='\n')

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{33, 22, 55, 11, 44}
{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [75]:
s2.symmetric_difference(s4)

{1, 2, 3}

### 14.update()

* Syntax: setobj1.update(setobj2)
* This Function is used for comibining or mergining the  values of setobj1 and setbj2 in setobj1

In [76]:
s1={"Apple","Mango"}
s2={"Kiwi","Sberry","Grapes"}
print(s1,type(s1))
print(s2,type(s2))

{'Mango', 'Apple'} <class 'set'>
{'Kiwi', 'Grapes', 'Sberry'} <class 'set'>

In [77]:
s3=s1.update(s2)
print(s3,type(s3))

None <class 'NoneType'>

In [78]:
print(s1,type(s1))

{'Kiwi', 'Grapes', 'Mango', 'Apple', 'Sberry'} <class 'set'>

In [80]:
print(s2,type(s2))

{'Kiwi', 'Grapes', 'Sberry'} <class 'set'>

# INNER OR NESTED SET

a)  Defining set inside of another set  NOT POSSIBLE <br>
b)  Defining set inside of another Tuple  POSSIBLE <br>
c)  Defining set inside of another List POSSIBLE <br>
d)  Defining tuple inside of Another Set POSSIBLE <br>
e) Defining  list inside of another set NOT POSSIBLE

In [81]:
s1={10,"Rossum",{10,15,16},"OUCET"}
print(s1,type(s1))

TypeError: unhashable type: 'set'

In [82]:
s1={10,"Rossum",[10,15,16],"OUCET"}
print(s1,type(s1))

TypeError: unhashable type: 'list'

In [83]:
s1={10,"Rossum",(10,15,16),"OUCET"}
print(s1,type(s1))

{'OUCET', 10, (10, 15, 16), 'Rossum'} <class 'set'>

In [84]:
s1=(10,"Rossum",{10,15,16},"OUCET")
print(s1,type(s1))

(10, 'Rossum', {16, 10, 15}, 'OUCET') <class 'tuple'>

In [85]:
s1[2]

{10, 15, 16}

In [86]:
s1[-1]

'OUCET'

In [87]:
s1=[10,"Rossum",{10,15,16},"OUCET"]
print(s1,type(s1))

[10, 'Rossum', {16, 10, 15}, 'OUCET'] <class 'list'>

# dict()

* 'dict' is one of the pre-defined class and treated as Dict Data Type.
* The purpose of dict data type is that "To store (Key,value) in single variable"
* In (Key,Value), the values of Key is Unique and Values of Value may or may not be unique.
* The (Key,value) must be organized or stored in the object of dict within Curly Braces {} and  they separated by comma.
* An object of dict does not support Indexing and Slicing bcoz Values of Key itself considered as Indices.
* In the object of dict, Values of Key are treated as Immutable and Values of Value  are treated as mutable.
* Originally an object of dict is mutable bcoz we can add (Key,Value) externally.
* We have two types of dict objects. They are
          a) Empty dict
          b) Non-empty dict

**a) Empty dict**
* Empty dict is one, which does not contain any (Key,Value) and whose length is 0
* Syntax:-          dictobj1= { }
				or
			    dictobj=dict()
			    
* Syntax for adding (Key,Value) to empty dict:
    
		dictobj[Key1]=Val1
		dictobj[Key2]=Val2
		---------------------------
		dictobj[Key-n]=Val-n
* Here Key1,Key2...Key-n are called Values of Key and They must be Unique
* Here Val1, Val2...Val-n are called Values of Value and They may or may not be unique.

**b) Non-Empty dict**

* Non-Empty dict is one, which contains  (Key,Value) and whose length is >0
* Syntax:-          dictobj1= { Key1:Val1,Key2:Val2......Key-n:Valn}
			
* Here Key1,Key2...Key-n are called Values of Key and They must be Unique
* Here Val1, Val2...Val-n are called Values of Value and They may or may not be unique.

In [89]:
d1={10:"Python",20:"Data Sci",30:"Django"}
print(d1,type(d1))

{10: 'Python', 20: 'Data Sci', 30: 'Django'} <class 'dict'>

In [90]:
d2={10:3.4,20:4.5,30:5.6,40:3.4}
print(d2,type(d2))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4} <class 'dict'>

In [91]:
len(d1)

3

In [92]:
len(d2)

4

In [93]:
d3={}
print(d3,type(d3))

{} <class 'dict'>

In [94]:
d4=dict()
print(d4,type(d4))

{} <class 'dict'>

In [95]:
d2

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4}

In [96]:
d2[0]

KeyError: 0

In [97]:
d2[20]

4.5

In [98]:
d2[10]

3.4

In [99]:
d2[50]=5.2
d2

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4, 50: 5.2}

In [106]:
d={}
print(d,type(d),id(d))

{} <class 'dict'> 2252266809344

In [102]:
d['python']=1
d

{'python': 1}

In [104]:
d['ds']=2
d

{'python': 1, 'ds': 2}

In [107]:
d['jv']=3
print(d,type(d),id(d))

{'jv': 3} <class 'dict'> 2252266809344

##### To Perform Various Operations on dict object, we have pre-defined Functions in dict object. They are

### 1.clear()

* Syntax:  dictobj.clear()
* This Function is used for removing all the elements of dict object
* When we call this function upon empty dict object then we get None as Result

In [109]:
d2

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4, 50: 5.2}

In [110]:
print(d2,type(d2))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4, 50: 5.2} <class 'dict'>

In [111]:
d2.clear()

In [112]:
d2

{}

In [113]:
print(d2.clear())

None

### 2.pop()

* Syntax:  dictobj.pop(Key)
* This Function is used removing (Key,Value) from dict object.
* If the Value of Key does not exist then we get KeyError

In [115]:
d2={10:3.4,20:4.5,30:5.6,40:3.4}
print(d2,type(d2))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4} <class 'dict'>

In [116]:
d2.pop(10)

3.4

In [117]:
d2.pop(40)

3.4

In [118]:
d2.pop(6)

KeyError: 6

### 3.popitem()

* Syntax:    dictobj.popitem()
* This Function is used removing last (Key,Value) from non-empty dict object.
* When we call this function upon empty  object then we get KeyError as Result

In [120]:
d2={10:3.4,20:4.5,30:5.6,40:3.4}
print(d2,type(d2))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4} <class 'dict'>

In [121]:
d2.popitem()

(40, 3.4)

In [122]:
d2.popitem()

(30, 5.6)

In [123]:
{}.popitem()

KeyError: 'popitem(): dictionary is empty'

### 4.copy()

* Syntax:     dictobj2=dictobj1.copy()
* This Function is used for copying the content of one dict object into another dict object.

In [126]:
d1={10:3.4,20:4.5,30:5.6,40:3.4}
print(d1,type(d1),id(d1))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4} <class 'dict'> 2252268758720

In [127]:
d2=d1.copy()
print(d2,type(d2),id(d2))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4} <class 'dict'> 2252267883008

In [128]:
d1[50]=53.8

In [129]:
d2[60]=2.5

In [130]:
print(d1,type(d1),id(d1))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4, 50: 53.8} <class 'dict'> 2252268758720

In [131]:
print(d2,type(d2),id(d2))

{10: 3.4, 20: 4.5, 30: 5.6, 40: 3.4, 60: 2.5} <class 'dict'> 2252267883008

### 5.get()

* Syntax:    varname=dictobj.get(Key)
* This Function is used for obtaining the Value of Value by passing the Value of Key.
* If the value of Key does not exist then we get None as a Result.
				(OR)
* Syntax:          dictobj[Key]

In [132]:
d1={10:2.3,20:3.4,30:4.5,40:2.3}
print(d1,type(d1),id(d1))

{10: 2.3, 20: 3.4, 30: 4.5, 40: 2.3} <class 'dict'> 2252267841024

In [133]:
val=d1.get(40)
print(val,type(val))

2.3 <class 'float'>

In [134]:
val=d1.get(30)
print(val,type(val))

4.5 <class 'float'>

In [135]:
val=d1.get(100)
print(val,type(val))

None <class 'NoneType'>

In [136]:
d1={10:2.3,20:3.4,30:4.5,40:2.3}
print(d1,type(d1),id(d1))

{10: 2.3, 20: 3.4, 30: 4.5, 40: 2.3} <class 'dict'> 2252267840000

In [137]:
d1[10]

2.3

In [138]:
d1[20]

3.4

In [139]:
d2[44]

KeyError: 44

### 6.keys()

* Syntax:	dictobj.keys()
				(OR)
* Syntax:   varname=dictobj.keys()
* This function is used for obtaining Values of Key and stored in varname and It is an object of <class,dict-keys>

In [140]:
d1={10:2.3,20:3.4,30:4.5,40:2.3}
print(d1,type(d1),id(d1))

{10: 2.3, 20: 3.4, 30: 4.5, 40: 2.3} <class 'dict'> 2252268758528

In [141]:
k=d1.keys()
print(k,type(k))

dict_keys([10, 20, 30, 40]) <class 'dict_keys'>

In [143]:
for ks in k:
    print(ks)

10
20
30
40

In [145]:
for ks in d1.keys():
    print(ks)

10
20
30
40

### 7.values()

* Syntax:    varname=dictobj.values()
* This function is used for obtaining Values of Value and stored in varname and It is an object of <class,dict-values>

In [147]:
d1={10:2.3,20:3.4,30:4.5,40:2.3}
print(d1,type(d1),id(d1))

{10: 2.3, 20: 3.4, 30: 4.5, 40: 2.3} <class 'dict'> 2252268697984

In [148]:
vs=d1.values()
print(vs,type(vs),id(vs))

dict_values([2.3, 3.4, 4.5, 2.3]) <class 'dict_values'> 2252266904832

In [149]:
for v in vs:
    print(v)

2.3
3.4
4.5
2.3

In [151]:
for v in d1.values():
    print(v)

2.3
3.4
4.5
2.3

### 8.items()

* Syntax:    dict.items()
			(OR)
*  		varname=dictobj.items()
* This function is used for obtaining Values of (Key,Value) and stored in varname and It is an object of 
     <class,dict-items>

In [152]:
d1={10:2.3,20:3.4,30:4.5,40:2.3}
print(d1,type(d1),id(d1))

{10: 2.3, 20: 3.4, 30: 4.5, 40: 2.3} <class 'dict'> 2252268698880

In [153]:
kvs=d1.items()
print(kvs,type(kvs))

dict_items([(10, 2.3), (20, 3.4), (30, 4.5), (40, 2.3)]) <class 'dict_items'>

In [154]:
for k in kvs:
    print(k)

(10, 2.3)
(20, 3.4)
(30, 4.5)
(40, 2.3)

In [155]:
for k in d1.items():
    print(k)

(10, 2.3)
(20, 3.4)
(30, 4.5)
(40, 2.3)

### 9. update()

* Syntax:    dictobj1.update(dictobj2)

* This Function is used for updating the dictobj1 values with dict object2 values.

In [156]:
d1={10:2.3,20:3.4}
d2={50:5.5,60:3.4}
print(d1,type(d1))
print(d2,type(d2))

{10: 2.3, 20: 3.4} <class 'dict'>
{50: 5.5, 60: 3.4} <class 'dict'>

In [157]:
d1.update(d2)

In [158]:
print(d1,type(d1))

{10: 2.3, 20: 3.4, 50: 5.5, 60: 3.4} <class 'dict'>

In [159]:
print(d2,type(d2))

{50: 5.5, 60: 3.4} <class 'dict'>

In [160]:
d1={10:2.3,20:3.4}
d2={20:5.5,60:3.4}
print(d1,type(d1))
print(d2,type(d2))

{10: 2.3, 20: 3.4} <class 'dict'>
{20: 5.5, 60: 3.4} <class 'dict'>

In [161]:
d1.update(d2)

In [162]:
print(d1,type(d1))

{10: 2.3, 20: 5.5, 60: 3.4} <class 'dict'>

**dict in dict**

In [163]:
d1={"sno":10,"sname":"RS","InternalMarks":{"CM":17,"C++":18,"PYTHON":17},"ExternalMarks":{"CM":77,"C++":66,"PYTHON":78},"Cname":"OUCET"}
print(d1,type(d1))

{'sno': 10, 'sname': 'RS', 'InternalMarks': {'CM': 17, 'C++': 18, 'PYTHON': 17}, 'ExternalMarks': {'CM': 77, 'C++': 66, 'PYTHON': 78}, 'Cname': 'OUCET'} <class 'dict'>

In [164]:
for k,v in d1.items():
    print(k,'------>',v)

sno ------> 10
sname ------> RS
InternalMarks ------> {'CM': 17, 'C++': 18, 'PYTHON': 17}
ExternalMarks ------> {'CM': 77, 'C++': 66, 'PYTHON': 78}
Cname ------> OUCET

In [166]:
d1.get('InternalMarks')

{'CM': 17, 'C++': 18, 'PYTHON': 17}

In [168]:
for k in d1.get('InternalMarks'):
    print(k)

CM
C++
PYTHON

In [170]:
for k in d1.get('InternalMarks').keys():
    print(k)

CM
C++
PYTHON

In [171]:
for k in d1.get("InternalMarks").keys():
    print(k,"--->",d1.get("InternalMarks").get(k))

CM ---> 17
C++ ---> 18
PYTHON ---> 17

#### list in dict

In [172]:
d1={"sno":10,"sname":"RS","crs1":["Python","Dsc","Django"],"crs2":["Java","C","C++"],"Cname":"OUCET"}
print(d1,type(d1))

{'sno': 10, 'sname': 'RS', 'crs1': ['Python', 'Dsc', 'Django'], 'crs2': ['Java', 'C', 'C++'], 'Cname': 'OUCET'} <class 'dict'>

In [175]:
for k,v in d1.items():
    print(k,'--->',v)

sno ---> 10
sname ---> RS
crs1 ---> ['Python', 'Dsc', 'Django']
crs2 ---> ['Java', 'C', 'C++']
Cname ---> OUCET

In [177]:
d1={"sno":10,"sname":"RS","crs1":["Python","Dsc","Django"],"crs2":["Java","C","C++"],"Cname":"OUCET"}
print(d1,type(d1))

{'sno': 10, 'sname': 'RS', 'crs1': ['Python', 'Dsc', 'Django'], 'crs2': ['Java', 'C', 'C++'], 'Cname': 'OUCET'} <class 'dict'>

In [178]:
d1['crs1']

['Python', 'Dsc', 'Django']

In [179]:
d1['crs1'][0]

'Python'

In [180]:
d1.get('crs1')[0]='ds'

In [181]:
d1

{'sno': 10,
 'sname': 'RS',
 'crs1': ['ds', 'Dsc', 'Django'],
 'crs2': ['Java', 'C', 'C++'],
 'Cname': 'OUCET'}

In [182]:
d1={"sno":10,"sname":"RS","crs1":("Python","Dsc","Django"),"crs2":("Java","C","C++"),"Cname":"OUCET"}
print(d1,type(d1))
for k,v in d1.items():
     print(k,"==>",v)

{'sno': 10, 'sname': 'RS', 'crs1': ('Python', 'Dsc', 'Django'), 'crs2': ('Java', 'C', 'C++'), 'Cname': 'OUCET'} <class 'dict'>
sno ==> 10
sname ==> RS
crs1 ==> ('Python', 'Dsc', 'Django')
crs2 ==> ('Java', 'C', 'C++')
Cname ==> OUCET

### set in dict

In [183]:
d1={"sno":10,"sname":"RS","crs1":{"Python","Dsc","Django"},"crs2":{"Java","C","C++"},"Cname":"OUCET"}
for k,v in d1.items():
    print(k,"==>",v)

sno ==> 10
sname ==> RS
crs1 ==> {'Dsc', 'Django', 'Python'}
crs2 ==> {'C', 'Java', 'C++'}
Cname ==> OUCET

### dict in list

In [184]:
l1=[10,"Rossum",{"CM":17,"Java":56},{"Python":56,"Dsc":34},"OUCET"]
for val in l1:
    print(val,type(val),type(l1))

10 <class 'int'> <class 'list'>
Rossum <class 'str'> <class 'list'>
{'CM': 17, 'Java': 56} <class 'dict'> <class 'list'>
{'Python': 56, 'Dsc': 34} <class 'dict'> <class 'list'>
OUCET <class 'str'> <class 'list'>

### dict in tuple

In [185]:
t1=(10,"Rossum",{"CM":17,"Java":56},{"Python":56,"Dsc":34},"OUCET")
for val in t1:
    print(val,type(val),type(t1))

10 <class 'int'> <class 'tuple'>
Rossum <class 'str'> <class 'tuple'>
{'CM': 17, 'Java': 56} <class 'dict'> <class 'tuple'>
{'Python': 56, 'Dsc': 34} <class 'dict'> <class 'tuple'>
OUCET <class 'str'> <class 'tuple'>

### dict in set

In [186]:
s1={10,"Rossum",{"CM":17,"Java":56},{"Python":56,"Dsc":34},"OUCET"}
print(s1,type(s1))

TypeError: unhashable type: 'dict'